[bumpversion]
current_version = {{ cookiecutter.version }}
commit = True

[bumpversion:file:{{ cookiecutter.package_name }}/__init__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
